<div id="wrap">

    <div id="page-heading">
        <ol class="breadcrumb">
            <li class="active"><a href="#home">Tableau de bord</a></li>
            <li><a href="#accounts">Gestion Comptes</a></li>
            <li><%= account ? "Editer un Compte" : "Ajouter un Compte" %></li>
        </ol>
        <h1>Gestion Comptes</h1>

        <div class="options">
        </div>
    </div>
    <div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading"><h4><%= account ? "Editer un Compte" : "Ajouter un Compte" %></h4></div>
                <div class="panel-body">
                    <form class="form-horizontal" id="accountEditForm">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Type</label>

                            <div class="col-sm-6">
                                <label class="radio-inline">
                                    <input name="polarity" type="radio" id="inlineradio1" value="C" checked="checked">
                                    Créditeur
                                </label>
                                <label class="radio-inline">
                                    <input name="polarity" type="radio" id="inlineradio2" value="D"> Débiteur
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name" class="col-sm-3 control-label">Nom</label>
                            <div class="col-sm-6">
                                <input name="name" id="name" type="text" data-maxlength="15" placeholder="Requied"
                                       required="required" class="form-control parsley-validated" value="<%= account ? account.name : '' %>">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="code" class="col-sm-3 control-label">Code</label>

                            <div class="col-sm-6">
                                <input name="code" id="code" type="text" data-maxlength="15" placeholder="Requied"
                                       required="required" class="form-control parsley-validated" value="<%= account ? account.code : '' %>">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="unit" class="col-sm-3 control-label">Unit</label>
                            <div class="col-sm-6">
                                <input name="unit" id="unit" type="text" data-maxlength="15" placeholder="Requied"
                                       required="required" class="form-control parsley-validated" value="<%= account ? account.unit : '' %>">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="balance" class="col-sm-3 control-label">Balance</label>

                            <div class="col-sm-6">
                                <input name="balance" id="balance" type="text" data-maxlength="15" placeholder="Requied"
                                       required="required" class="form-control parsley-validated" value="<%= account ? account.balance : '' %>">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Balance positive</label>

                            <div class="col-sm-6">
                                <label class="radio-inline">
                                    <input name="enforce_positive_balance" type="radio" value="true" checked="checked"> Enforcé
                                </label>
                                <label class="radio-inline">
                                    <input name="enforce_positive_balance" type="radio" value="false"> Non
                                </label>
                            </div>
                        </div>
                        <% if(account) { %>
                            <input type="hidden" name="id" value="<%= account.id %>" />
                        <% }; %>
                    </form>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <div class="btn-toolbar">
                                <!--<button class="btn-primary btn" id="save">Enregistrer</button>-->
                                <button class="btn-primary btn" onclick="$('#accountEditForm').submit();">Enregistrer
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        </div>
</div>