<div id="wrap">

    <div id="page-heading">
        <ol class="breadcrumb">
            <li class="active"><a href="#home">Tableau de bord</a></li>
            <li>Gestion Comptes</li>
        </ol>
        <h1>Gestion Comptes</h1>

        <div class="options">
        </div>
    </div>

    <div class="container">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Liste Comptes</h4>

            </div>
            <div class="panel-body collapse in">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr role="row">
                        <th>Nom</th>
                        <th>Code</th>
                        <th>Balance</th>
                        <th>Polarité</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                    <% _.each(accounts, function(account) { %>
                    <tr>
                        <td>
                            <%= account.name %>
                        </td>
                        <td>
                            <%= account.code %>
                        </td>
                        <td>
                            <%= account.balance + " " + account.unit %>
                        </td>
                        <td>
                            <% if (account.polarity == "C") { %>
                            Créditeur
                            <% } else { %>
                            Débiteur
                            <% } %>
                        </td>
                        <td class="center ">
                            <a href="#accounts/edit/<%= account.id %>" class="fa fa-pencil"></a>
                            <a style="cursor: pointer" data-id="<%=account.id%>" class="fa fa-times delete"></a>
                        </td>
                    </tr>
                    <% }); %>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>