<div id="wrap">

    <div id="page-heading">
        <ol class="breadcrumb">
            <li class="active"><a href="#home">Tableau de bord</a></li>
            <li><a href="#advertisers">Gestion Annonceurs</a></li>
            <li>Editer un Annonceur</li>
        </ol>
        <h1>Gestion Annonceurs</h1>

        <div class="options">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-primary">
                    <div class="panel-heading"><h4>Editer un Annonceur</h4></div>
                    <div class="panel-body">
                        <form class="form-horizontal" id="advertiserEditForm">

                            <div class="form-group">
                                <label for="name" class="col-sm-3 control-label">Nom</label>
                                <div class="col-sm-6">
                                    <input name="name" id="name" type="text" data-maxlength="15" placeholder="Name"
                                           required="Nom" class="form-control parsley-validated" value="<%= advertiser.name %>">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Company</label>
                                <div class="col-sm-6">
                                    <select name="company" id="company" class="form-control">
                                        <% _.each(companies, function(company) { %>
                                        <% s =  (advertiser.company.id == company.id) ? 'selected="selected"' : '' %>
                                        <option value="<%=company.id%>" <% print (s) %> ><%=company.name %></option>
                                        <% }); %>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="type" class="col-sm-3 control-label">Type</label>
                                <div class="col-sm-6">
                                    <select name="type" id="type" class="form-control">
                                        <% _.each(advertiserTypes, function(type) { %>
                                        <% s =  (advertiser.type == type.id) ? 'selected="selected"' : '' %>
                                        <option value="<%=type.id%>" <% print (s) %> ><%=type.label %></option>
                                        <% }); %>
                                    </select>
                                </div>
                            </div>

                        </form>
                    </div>

                    <div class="panel-heading">Utilisateurs</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-6">
                                <table class="table table-striped table-bordered">

                                    <% if (advertiser.users.length > 0) { %>
                                    <% _.each(advertiser.users, function(user) { %>
                                    <tr>
                                        <td><%=user.username %></td>
                                        <td width="40px">
                                            <button class="btn btn-danger btn-label delete" data-id="<%=user.id%>"><i
                                                    class="fa fa-times"></i></button>
                                        </td>
                                    </tr>
                                    <% }); } else { %>
                                    <tr>

                                        <td>Pas d'utilisateur affectés.</td>
                                    </tr>
                                    <% };%>
                                </table>
                                <table class="table">
                                    <tr>
                                        <td>
                                            <button type="button" class="addUser btn" data-toggle="modal"
                                                    data-target=".users-list-modal">Ajouter un utilisateur
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                <div class="btn-toolbar">
                                    <!--<button class="btn-primary btn" id="save">Enregistrer</button>-->
                                    <button class="btn-primary btn" onclick="$('#advertiserEditForm').submit();">Enregistrer
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal users-list-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Ajout d'utilisateur</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="addUserForm">

                    <select name="user" class="form-control">
                        <% _.each(users, function(user) { %>
                        <option value="<%=user.id%>" ><%=user.username %></option>
                        <% }); %>
                    </select>
                    <input type="hidden" name="advertiser" id="advertiser-id" value="<%= advertiser.id %>"/>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="$('#addUserForm').submit();">Ajouter l'utilisateur</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

