<div id="wrap">

    <div id="page-heading">
        <ol class="breadcrumb">
            <li class="active"><a href="#home">Tableau de bord</a></li>
            <li><a href="#advertisers">Gestion Annonceurs</a></li>
            <li>Ajouter un Annonceur</li>
        </ol>
        <h1>Gestion Annonceurs</h1>

        <div class="options">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-primary">
                    <div class="panel-heading"><h4>Ajouter un Annonceur</h4></div>
                    <div class="panel-body">
                        <form class="form-horizontal" id="advertiserEditForm">

                            <div class="form-group">
                                <label for="name" class="col-sm-3 control-label">Nom</label>
                                <div class="col-sm-6">
                                    <input name="name" id="name" type="text" data-maxlength="15" placeholder="Name"
                                           required="required" class="form-control parsley-validated" value="">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Company</label>
                                <div class="col-sm-6">
                                    <select name="company" id="company" class="form-control">
                                        <% _.each(companies, function(company) { %>
                                        <option value="<%=company.id%>" ><%=company.name %></option>
                                        <% }); %>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="type" class="col-sm-3 control-label">Type</label>
                                <div class="col-sm-6">
                                    <select name="type" id="type" class="form-control">
                                        <% _.each(advertiserTypes, function(type) { %>
                                        <option value="<%=type.id%>" ><%=type.label %></option>
                                        <% }); %>
                                    </select>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                <div class="btn-toolbar">
                                    <!--<button class="btn-primary btn" id="save">Enregistrer</button>-->
                                    <button class="btn-primary btn" onclick="$('#advertiserEditForm').submit();">Enregistrer
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>