<div id="wrap">

    <div id="page-heading">
        <ol class="breadcrumb">
            <li class="active"><a href="#home">Tableau de bord</a></li>
            <li><a href="#banners">Gestion Bannières</a></li>
            <li><%= banner ? "Editer un Bannière" : "Ajouter un Bannière" %></li>
        </ol>
        <h1>Gestion Bannières</h1>

        <div class="options">
        </div>
    </div>
    <div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading"><h4><%= banner ? "Editer un Bannière" : "Ajouter un Bannière" %></h4></div>
                <div class="panel-body">
                    <form class="form-horizontal" id="bannerEditForm" enctype="multipart/form-data">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Fichier</label>

                            <div class="col-sm-6">
                                <input type="file" id="input" name="file" class="form-control" value="<%= banner ? banner.file : '' %>">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="label" class="col-sm-3 control-label">Nom</label>

                            <div class="col-sm-6">
                                <input name="label" id="label" type="text" data-maxlength="15" placeholder="Requied"
                                       required="required" class="form-control parsley-validated" value="<%= banner ? banner.label : '' %>">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="type" class="col-sm-3 control-label">Type</label>
                            <div class="col-sm-6">
                                <% if (banner) { %>
                                <select name="type" class="form-control">
                                    <% _.each(types, function(type) { %>
                                    <% s =  (banner.type == type.id) ? 'selected="selected"' : '' %>
                                    <option value="<%=type.id%>" <% print (s) %> ><%=type.label %></option>
                                    <% }); %>
                                </select>
                                <% } else { %>
                                <select name="type" class="form-control">
                                    <% _.each(types, function(type) { %>
                                    <option value="<%=type.id%>" ><%=type.label %></option>
                                    <% }); %>
                                </select>
                                <% }; %>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="dimension" class="col-sm-3 control-label">Dimension</label>
                            <div class="col-sm-6">
                                <% if (banner) { %>
                                <select name="dimension" class="form-control">
                                    <% _.each(dimensions, function(dimension) { %>
                                    <% s =  (banner.dimensions == dimension.id) ? 'selected="selected"' : '' %>
                                    <option value="<%=dimension.id%>" <% print (s) %> ><%=dimension.label %></option>
                                    <% }); %>
                                </select>
                                <% } else { %>
                                <select name="dimension" class="form-control">
                                    <% _.each(dimensions, function(dimension) { %>
                                    <option value="<%=dimension.id%>" ><%=dimension.label %></option>
                                    <% }); %>
                                </select>
                                <% }; %>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Active</label>

                            <div class="col-sm-6">
                                <label class="radio-inline">
                                    <input name="active" type="radio" value="true" checked="checked"> Enforcé
                                </label>
                                <label class="radio-inline">
                                    <input name="active" type="radio" value="false"> Non
                                </label>
                            </div>
                        </div>
                        <input type="hidden" name="advertiser" value="<%= userInfo.advertiser_users[0].advertiser %>" />

                        <% if(banner) { %>
                            <input type="hidden" name="id" id="id" value="<%= banner.id %>" />
                        <% }; %>
                    </form>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <div class="btn-toolbar">
                                <!--<button class="btn-primary btn" id="save">Enregistrer</button>-->
                                <button class="btn-primary btn" onclick="$('#bannerEditForm').submit();">Enregistrer
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        </div>
</div>