<div id="wrap">

    <div id="page-heading">
        <ol class="breadcrumb">
            <li class="active"><a href="#home">Tableau de bord</a></li>
            <li>Gestion Bannières</li>
        </ol>
        <h1>Gestion Bannières</h1>

        <div class="options">
        </div>
    </div>

    <div class="container">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Liste Bannières</h4>

            </div>
            <div class="panel-body collapse in">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr role="row">
                        <th>Nom</th>
                        <th>Type</th>
                        <th>Dimensions</th>
                        <th>Etat</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                    <% _.each(banners, function(banner) { %>
                    <tr>
                        <td>
                            <%= banner.label %>
                        </td>
                        <td>
                            <%= _.where(types, {id: banner.type})[0].label %>
                        </td>
                        <td>
                            <%= _.where(dimensions, {id: banner.dimension})[0].label %>
                        </td>
                        <td>
                            <% if (banner.active) { %>
                            Active
                            <% } else { %>
                            Désactivée
                            <% } %>
                        </td>
                        <td class="center ">
                            <a href="#banners/edit/<%= banner.id %>" class="fa fa-pencil"></a>
                            <a style="cursor: pointer" data-id="<%=banner.id%>" class="fa fa-times delete"></a>
                        </td>
                    </tr>
                    <% }); %>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>