<div id="wrap">

    <div id="page-heading">
        <ol class="breadcrumb">
            <li class="active"><a href="#home">Tableau de bord</a></li>
            <li>Gestion Campagnes</li>
        </ol>
        <h1>Gestion Campagnes</h1>

        <div class="options">
        </div>
    </div>

    <div class="container">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Liste Campagnes</h4>

            </div>
            <div class="panel-body collapse in">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr role="row">
                        <th>Nom</th>
                        <th>Budget</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                    <% _.each(campaigns, function(campaign) { %>
                    <tr>
                        <td>
                            <%= campaign.label %>
                        </td>
                        <td>
                            <%= campaign.budget %>
                        </td>
                        <td>
                            <%= campaign.description %>
                        </td>
                        <td class="center ">
                            <a href="#campaigns/edit/<%= campaign.id %>" class="fa fa-pencil"></a>
                            <a style="cursor: pointer" data-id="<%=campaign.id%>" class="fa fa-times delete"></a>
                        </td>
                    </tr>
                    <% }); %>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>