<div id="wrap">

    <div id="page-heading">
        <ol class="breadcrumb">
            <li class="active"><a href="#home">Tableau de bord</a></li>
            <li><a href="#campaigns">Gestion Campagnes</a></li>
            <li><%= campaign ? "Editer un Campagne" : "Ajouter une Campagne" %></li>
        </ol>
        <h1>Gestion Campagnes</h1>

        <div class="options">
        </div>
    </div>
    <div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading"><h4><%= campaign ? "Editer un Campagne" : "Ajouter un Campagne" %></h4></div>
                <div class="panel-body">
                    <form class="form-horizontal" id="campaignEditForm">
                        <div class="form-group">
                            <label for="label" class="col-sm-3 control-label">Nom</label>
                            <div class="col-sm-6">
                                <input name="label" id="label" type="text" data-maxlength="15" placeholder="Requied"
                                       required="required" class="form-control parsley-validated" value="<%= campaign ? campaign.label : '' %>">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="budget" class="col-sm-3 control-label">Budget</label>

                            <div class="col-sm-6">
                                <input name="budget" id="budget" type="text" data-maxlength="15" placeholder="Requied"
                                       required="required" class="form-control parsley-validated" value="<%= campaign ? campaign.budget : '' %>">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description" class="col-sm-3 control-label">Description</label>
                            <div class="col-sm-6">
                                <textarea name="description" id="description" cols="10" rows="10" class="form-control"><%= campaign ? campaign.description : '' %></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="start_date" class="col-sm-3 control-label">Date début</label>

                            <div class="col-sm-6">
                                <input type="text" type="text" name="start_date" class="form-control date" value="<%= campaign ? campaign.start_date : '' %>">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="end_date" class="col-sm-3 control-label">Date fin</label>

                            <div class="col-sm-6">
                                <input type="text" type="text" name="end_date" class="form-control date" value="<%= campaign ? campaign.end_date : '' %>">
                            </div>

                            <script>$('.date').datepicker({format : "yyyy-mm-ddT00:00:00Z" }); </script>
                        </div>
                        <% if(campaign) { %>
                            <input type="hidden" name="id" value="<%= campaign.id %>" />
                        <% }; %>
                        <input type="hidden" name="advertiser" value="<%= userInfo.advertiser_users[0].advertiser %>" />
                    </form>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <div class="btn-toolbar">
                                <!--<button class="btn-primary btn" id="save">Enregistrer</button>-->
                                <button class="btn-primary btn" onclick="$('#campaignEditForm').submit();">Enregistrer
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        </div>
</div>