<div id="wrap">

    <div id="page-heading">
        <ol class="breadcrumb">
            <li class="active"><a href="#home">Tableau de bord</a></li>
            <li>Gestion Entreprises</li>
        </ol>
        <h1>Gestion Entreprises</h1>

        <div class="options">
        </div>
    </div>

    <div class="container">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Liste Entreprises</h4>

            </div>
            <div class="panel-body collapse in">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr role="row">
                        <th>Nom</th>
                        <th>Téléphone</th>
                        <th>Fax</th>
                        <th>Compte</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                    <% _.each(companies, function(company) { %>
                    <tr>
                        <td>
                            <%= company.name %>
                        </td>
                        <td>
                            <%= company.phone %>
                        </td>
                        <td>
                            <%= company.fax %>
                        </td>
                        <td>
                            <%= "Nom : " + company.account.name  %> <br/>
                            <%= company.account.balance + " " + company.account.unit %>
                        </td>
                        <td class="center ">
                            <a href="#companies/edit/<%= company.id %>" class="fa fa-pencil">
                            </a>
                            <a style="cursor: pointer" data-id="<%=company.id%>" class="fa fa-times delete">
                            </a>
                        </td>
                    </tr>
                    <% }); %>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>