<div id="wrap">

    <div id="page-heading">
        <ol class="breadcrumb">
            <li class="active"><a href="#home">Tableau de bord</a></li>
            <li><a href="#companies">Gestion Entreprises</a></li>
            <li><%= company ? "Editer une Entreprise" : "Ajouter une Entreprise" %></li>
        </ol>
        <h1>Gestion Entreprises</h1>

        <div class="options">
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-primary">
                    <div class="panel-heading"><h4><%= company ? "Editer une Entreprise" : "Ajouter une Entreprise" %></h4></div>
                    <div class="panel-body">
                        <form class="form-horizontal" id="companyEditForm">
                            <div class="form-group">
                                <label for="name" class="col-sm-3 control-label">Nom</label>
                                <div class="col-sm-6">
                                    <input name="name" id="name" type="text" data-maxlength="15" placeholder="Requied"
                                           required="required" class="form-control parsley-validated" value="<%= company ? company.name : '' %>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="phone" class="col-sm-3 control-label">Téléphone</label>
                                <div class="col-sm-6">
                                    <input name="phone" id="phone" type="text" data-maxlength="15" placeholder="Requied"
                                           required="required" class="form-control parsley-validated" value="<%= company ? company.phone : '' %>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="fax" class="col-sm-3 control-label">Fax</label>

                                <div class="col-sm-6">
                                    <input name="fax" id="fax" type="text" data-maxlength="15" placeholder="Requied"
                                           required="required" class="form-control parsley-validated" value="<%= company ? company.fax : '' %>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Adresse</label>

                                <div class="col-sm-6">
                                    <input name="adress-street_line1" id="adress-street_line1" type="text" data-maxlength="15" placeholder="Adresse ligne 1"
                                           required="required" class="form-control parsley-validated" value="<%= company ? company.adress.street_line1 : '' %>">
                                    <br/>
                                    <input name="adress-street_line2" id="adress-street_line2" type="text" data-maxlength="15" placeholder="Adresse ligne 2"
                                           required="required" class="form-control parsley-validated" value="<%= company ? company.adress.street_line2 : '' %>">
                                    <br/>
                                    <% if (company) { %>
                                    <select name="adress-zipcode" id="adress-zipcode" class="form-control">
                                            <% _.each(zipcodes, function(zipcode) { %>
                                            <% s =  (company.adress.zipcode == zipcode.id) ? 'selected="selected"' : '' %>
                                            <option value="<%=zipcode.id%>" <% print (s) %> ><%=zipcode.code %></option>
                                            <% }); %>
                                    </select>
                                    <% } else { %>
                                    <select name="adress-zipcode" id="adress-zipcode" class="form-control">
                                        <% _.each(zipcodes, function(zipcode) { %>
                                            <option value="<%=zipcode.id%>" ><%=zipcode.code %></option>
                                        <% }); %>
                                    </select>

                                    <% }; %>
                                </div>


                                <% if(company) { %>
                                <input type="hidden" name="adress-id" id="adress-id" value="<%= company.adress.id %>" />
                                <% }; %>

                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Compte</label>

                                <div class="col-sm-6">
                                    <% if (company) { %>
                                    <select name="account" id="account" class="form-control">
                                        <% _.each(accounts, function(account) { %>
                                        <% s =  (company.account.id == account.id) ? 'selected="selected"' : '' %>
                                        <option value="<%=account.id%>" <% print (s) %> ><%=account.code %></option>
                                        <% }); %>
                                    </select>
                                    <% } else { %>
                                    <select name="account" id="account" class="form-control">
                                        <% _.each(accounts, function(account) { %>
                                        <option value="<%=account.id%>" ><%=account.code %></option>
                                        <% }); %>
                                    </select>
                                    <% }; %>

                                    <br/>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Type</label>

                                        <div class="col-sm-6">
                                            <label class="radio-inline">
                                                <input name="account-polarity" type="radio" id="inlineradio1" value="C" <% if (company) { if (company.account.polarity == "C") print (checked="checked"); }; %>>
                                                Créditeur
                                            </label>
                                            <label class="radio-inline">
                                                <input name="account-polarity" type="radio" id="inlineradio2" value="D" <% if (company) { if (company.account.polarity == "D") print (checked="checked"); }; %>> Débiteur
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="account-name" class="col-sm-3 control-label">Nom</label>
                                        <div class="col-sm-6">
                                            <input name="account-name" id="account-name" type="text" data-maxlength="15" placeholder="Requied"
                                                   required="required" class="form-control parsley-validated" value="<%= company ? company.account.name : '' %>">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="account-code" class="col-sm-3 control-label">Code</label>

                                        <div class="col-sm-6">
                                            <input name="account-code" id="account-code" type="text" data-maxlength="15" placeholder="Requied"
                                                   required="required" class="form-control parsley-validated" value="<%= company ? company.account.code : '' %>">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="account-unit" class="col-sm-3 control-label">Unit</label>
                                        <div class="col-sm-6">
                                            <input name="account-unit" id="account-unit" type="text" data-maxlength="15" placeholder="Requied"
                                                   required="required" class="form-control parsley-validated" value="<%= company ? company.account.unit : '' %>">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="account-balance" class="col-sm-3 control-label">Balance</label>

                                        <div class="col-sm-6">
                                            <input name="account-balance" id="account-balance" type="text" data-maxlength="15" placeholder="Requied"
                                                   required="required" class="form-control parsley-validated" value="<%= company ? company.account.balance : '' %>">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">Balance positive enforcé</label>

                                        <div class="col-sm-6">
                                            <label class="radio-inline">
                                                <input name="account-enforce_positive_balance" type="radio" value="true" <% if (company) { if (company.account.enforce_positive_balance === true) print (checked="checked"); }; %>> Oui
                                            </label>
                                            <label class="radio-inline">
                                                <input name="account-enforce_positive_balance" type="radio" value="false" <% if (company) { if (company.account.enforce_positive_balance == false) print (checked="checked"); }; %>> Non
                                            </label>
                                        </div>
                                    </div>
                                    <% if(company) { %>
                                    <input type="hidden" name="account-id" id="account-id" value="<%= company.account.id %>" />
                                    <% }; %>
                                </div>
                            </div>
                            <% if(company) {  %>
                            <input type="hidden" name="id" id="id" value="<%= company.id %>" />
                            <% }; %>
                        </form>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                <div class="btn-toolbar">
                                    <button class="btn-primary btn" onclick="$('#companyEditForm').submit();">Enregistrer
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>