<div id="wrap">

    <div id="page-heading">
        <ol class="breadcrumb">
            <li class="active"><a href="#home">Tableau de bord</a></li>
            <li>Gestion Editeurs</li>
        </ol>
        <h1>Gestion Editeurs</h1>

        <div class="options">
        </div>
    </div>

    <div class="container">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Liste Editeurs</h4>

            </div>
            <div class="panel-body collapse in">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr role="row">
                        <th>Nom</th>
                        <th>Entreprise</th>
                        <th>Type</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                    <% _.each(publishers, function(publisher) { %>
                    <tr>
                        <td>
                            <%= publisher.name %>
                        </td>
                        <td>
                            <%= publisher.company.name %>
                        </td>
                        <td>
                            <%= publisher.type %>
                        </td>
                        <td class="center ">
                            <a href="#publishers/edit/<%= publisher.id %>" class="fa fa-pencil"></a>
                            <a style="cursor: pointer" data-id="<%=publisher.id%>" class="fa fa-times delete"></a>
                        </td>
                    </tr>
                    <% }); %>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>