<div id="wrap">

    <div id="page-heading">
        <ol class="breadcrumb">
            <li class="active"><a href="#home">Tableau de bord</a></li>
            <li>Gestion Sites</li>
        </ol>
        <h1>Gestion Sites</h1>

        <div class="options">
        </div>
    </div>

    <div class="container">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Liste Sites</h4>

            </div>
            <div class="panel-body collapse in">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr role="row">
                        <th>Nom</th>
                        <th>Domaine</th>
                        <th>Description</th>
                        <th>Views</th>
                        <th>Visits</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                    <% _.each(websites, function(website) { %>
                    <tr>
                        <td>
                            <%= website.name %>
                        </td>
                        <td>
                            <%= website.domain %>
                        </td>
                        <td>
                            <%= website.description%>
                        </td>
                        <td>
                            <%= website.visits%>
                        </td>
                        <td>
                            <%= website.views%>
                        </td>
                        <td class="center ">
                            <a href="#sites/edit/<%= website.id %>" class="fa fa-pencil"></a>
                            <a style="cursor: pointer" data-id="<%=website.id%>" class="fa fa-times delete"></a>
                        </td>
                    </tr>
                    <% }); %>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>