<div id="wrap">

    <div id="page-heading">
        <ol class="breadcrumb">
            <li class="active"><a href="#home">Tableau de bord</a></li>
            <li><a href="#websites">Gestion Sites</a></li>
            <li><%= website ? "Editer un Site" : "Ajouter un Site" %></li>
        </ol>
        <h1>Gestion Sites</h1>

        <div class="options">
        </div>
    </div>
    <div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading"><h4><%= website ? "Editer un Site" : "Ajouter un Site" %></h4></div>
                <div class="panel-body">
                    <form class="form-horizontal" id="websiteEditForm">
                        <div class="form-group">
                            <label for="name" class="col-sm-3 control-label">Nom</label>
                            <div class="col-sm-6">
                                <input name="name" id="name" type="text" data-maxlength="15" placeholder="Nom"
                                       required="required" class="form-control parsley-validated" value="<%= website ? website.name : '' %>">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="domain" class="col-sm-3 control-label">Domaine</label>

                            <div class="col-sm-6">
                                <input name="domain" id="domain" type="text" data-maxlength="15" placeholder="Domaine"
                                       required="required" class="form-control parsley-validated" value="<%= website ? website.domain : '' %>">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="description" class="col-sm-3 control-label">Description</label>
                            <div class="col-sm-6">
                                <textarea name="description" id="description" cols="30" rows="4" class="form-control"><%= website ? website.description : '' %></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="views" class="col-sm-3 control-label">Nombre de vues</label>

                            <div class="col-sm-6">
                                <input name="views" id="views" type="text" data-maxlength="15" placeholder="Requied"
                                       required="required" class="form-control parsley-validated" value="<%= website ? website.views : '' %>">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="visits" class="col-sm-3 control-label">Nombre de visites</label>

                            <div class="col-sm-6">
                                <input name="visits" id="visits" type="text" data-maxlength="15" placeholder="Requied"
                                       required="required" class="form-control parsley-validated" value="<%= website ? website.visits : '' %>">
                            </div>
                        </div>
                        <input type="hidden" name="publisher" value="<%= userInfo.publisher_users[0].publisher %>" />
                        <% if(website) { %>
                            <input type="hidden" name="id" value="<%= website.id %>" />
                        <% }; %>
                    </form>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <div class="btn-toolbar">
                                <!--<button class="btn-primary btn" id="save">Enregistrer</button>-->
                                <button class="btn-primary btn" onclick="$('#websiteEditForm').submit();">Enregistrer
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        </div>
</div>