<div id="wrap">

    <div id="page-heading">
        <ol class="breadcrumb">
            <li class="active"><a href="#home">Tableau de bord</a></li>
            <li><a href="#uris">Gestion Liens</a></li>
            <li><%= uri ? "Editer un Lien" : "Ajouter un Lien" %></li>
        </ol>
        <h1>Gestion Liens</h1>

        <div class="options">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-primary">
                    <div class="panel-heading"><h4><%= uri ? "Editer un Lien" : "Ajouter un Lien" %></h4></div>
                    <div class="panel-body">
                        <form class="form-horizontal" id="uriEditForm">
                            <div class="form-group">
                                <label for="uri" class="col-sm-3 control-label">Lien</label>
                                <div class="col-sm-6">
                                    <input name="uri" id="uri" type="text" data-maxlength="15" placeholder="Lien"
                                           required="required" class="form-control parsley-validated" value="<%= uri ? uri.uri : '' %>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="uri" class="col-sm-3 control-label">Site</label>
                                <div class="col-sm-6">
                                    <% if (uri) { %>
                                    <select name="site" class="form-control">
                                        <% _.each(sites, function(site) { %>
                                        <% s =  (uri.site.id == site.id) ? 'selected="selected"' : '' %>
                                        <option value="<%=site.id%>" <% print (s) %> ><%=site.name %></option>
                                        <% }); %>
                                    </select>
                                    <% } else { %>
                                    <select name="site" class="form-control">
                                        <% _.each(sites, function(site) { %>
                                        <option value="<%=site.id%>" ><%=site.name %></option>
                                        <% }); %>
                                    </select>
                                    <% }; %>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Etat</label>

                                <div class="col-sm-6">
                                    <% if (uri && uri.available) {                     %>
                                    <%    var availableState  = 'checked="checked"';   %>
                                    <%    var nAvailableState = '';                    %>
                                    <% } else if(uri && !uri.available) {              %>
                                    <%    var availableState  = '';                    %>
                                    <%    var nAvailableState = 'checked="checked"';   %>
                                    <% } else {                                        %>
                                    <%    var availableState  = 'checked="checked"';   %>
                                    <%    var nAvailableState = '';                    %>
                                    <% };                                              %>
                                    <label class="radio-inline">
                                        <input name="available" type="radio" value="true" <%=availableState%> > Activé
                                    </label>
                                    <label class="radio-inline">
                                        <input name="available" type="radio" value="false" <%=nAvailableState%>> Désactivé
                                    </label>
                                </div>
                            </div>
                            <% if(uri) { %>
                            <input type="hidden" name="id" value="<%= uri.id %>" />
                            <% }; %>
                        </form>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                <div class="btn-toolbar">
                                    <!--<button class="btn-primary btn" id="save">Enregistrer</button>-->
                                    <button class="btn-primary btn" onclick="$('#uriEditForm').submit();">Enregistrer
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>