<div id="wrap">

    <div id="page-heading">
        <ol class="breadcrumb">
            <li class="active"><a href="#home">Tableau de bord</a></li>
            <li>Gestion Liens</li>
        </ol>
        <h1>Gestion Liens</h1>

        <div class="options">
        </div>
    </div>

    <div class="container">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Liste Liens</h4>

            </div>
            <div class="panel-body collapse in">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr role="row">
                        <th>Lien</th>
                        <th>Site</th>
                        <th>Etat</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                    <% _.each(uris, function(uri) { %>
                    <tr>
                        <td>
                            <%= uri.uri %>
                        </td>
                        <td>
                            <%= _.where(sites, {id: uri.site})[0].name %>
                        </td>
                        <td>
                            <%= uri.available ? "Activé" : "Désactivé"%>
                        </td>
                        <td class="center ">
                            <a href="#uris/edit/<%= uri.id %>" class="fa fa-pencil"></a>
                            <a style="cursor: pointer" data-id="<%=uri.id%>" class="fa fa-times delete"></a>
                        </td>
                    </tr>
                    <% }); %>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>