<ul class="nav navbar-nav pull-right toolbar">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle username" data-toggle="dropdown"><span class="hidden-xs">
            <%= user.first_name + " " + user.last_name %> <i class="fa fa-caret-down"></i></span><img src="assets/demo/avatar/dangerfield.png" alt="Dangerfield" /></a>
        <ul class="dropdown-menu userinfo arrow">
            <li class="username">
                <a href="#">
                    <div class="pull-left"><img src="assets/demo/avatar/dangerfield.png" alt="Jeff Dangerfield"/></div>
                    <div class="pull-right"><h5>Ahla, <%= user.last_name %></h5>
                        <small>Vous êtes authentifié avec <br/> le nom d'utilisateur :  <span><%= user.username %></span></small></div>
                </a>
            </li>
            <li class="userlinks">
                <ul class="dropdown-menu">
                    <li><a style="cursor: pointer" id="logout" class="text-right">Déconnexion</a></li>
                </ul>
            </li>
        </ul>
    </li>
</ul>
