<div id="wrap">

    <div id="page-heading">
        <ol class="breadcrumb">
            <li class="active"><a href="#home">Tableau de bord</a></li>
            <li><a href="#users">Gestion Utilisateurs</a></li>
            <li><%= user ? "Editer un Utilisateur" : "Ajouter un Utilisateur" %></li>
        </ol>
        <h1>Gestion Utilisateurs</h1>

        <div class="options">
        </div>
    </div>
    <div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading"><h4><%= user ? "Editer un Utilisateur" : "Ajouter un Utilisateur" %></h4></div>
                <div class="panel-body">
                    <form class="form-horizontal" id="userEditForm">
                        <div class="form-group">
                            <label for="username" class="col-sm-3 control-label">Nom d'utilisateur</label>
                            <div class="col-sm-6">
                                <input name="username" id="username" type="text" data-maxlength="15" placeholder="Nom d'utilisateur"
                                       required="required" class="form-control parsley-validated" value="<%= user ? user.username : '' %>">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="first_name" class="col-sm-3 control-label">Nom</label>

                            <div class="col-sm-6">
                                <input name="first_name" id="first_name" type="text" data-maxlength="15" placeholder="Nom"
                                       required="required" class="form-control parsley-validated" value="<%= user ? user.first_name : '' %>">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="last_name" class="col-sm-3 control-label">Prénom</label>
                            <div class="col-sm-6">
                                <input name="last_name" id="last_name" type="text" data-maxlength="15" placeholder="Prénom"
                                       required="required" class="form-control parsley-validated" value="<%= user ? user.last_name : '' %>">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-sm-3 control-label">Mot de passe</label>

                            <div class="col-sm-6">
                                <input name="password" id="password" type="password" data-maxlength="15" placeholder="Requied"
                                       required="required" class="form-control parsley-validated" value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-sm-3 control-label">Email</label>

                            <div class="col-sm-6">
                                <input name="email" id="email" type="text" data-maxlength="15" placeholder="Requied"
                                       required="required" class="form-control parsley-validated" value="<%= user ? user.email : '' %>">
                            </div>
                        </div>
                        <% if(user) { %>
                            <input type="hidden" name="id" value="<%= user.id %>" />
                        <% }; %>
                    </form>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <div class="btn-toolbar">
                                <button class="btn-primary btn" onclick="$('#userEditForm').submit();">Enregistrer</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        </div>
</div>