<div id="wrap">

    <div id="page-heading">
        <ol class="breadcrumb">
            <li class="active"><a href="#home">Tableau de bord</a></li>
            <li><a href="#zones">Gestion Zones</a></li>
            <li><%= zone ? "Editer un Zone" : "Ajouter un Zone" %></li>
        </ol>
        <h1>Gestion Zones</h1>

        <div class="options">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-primary">
                    <div class="panel-heading"><h4><%= zone ? "Editer un Zone" : "Ajouter un Zone" %></h4></div>
                    <div class="panel-body">
                        <form class="form-horizontal" id="zoneEditForm">
                            <div class="form-group">
                                <label for="label" class="col-sm-3 control-label">label</label>
                                <div class="col-sm-6">
                                    <input name="label" id="label" type="text" data-maxlength="15" placeholder="label"
                                           required="required" class="form-control parsley-validated" value="<%= zone ? zone.label : '' %>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="dom_id" class="col-sm-3 control-label">Dom id</label>
                                <div class="col-sm-6">
                                    <input name="dom_id" id="dom_id" type="text" data-maxlength="15" placeholder="Dom id"
                                           required="required" class="form-control parsley-validated" value="<%= zone ? zone.dom_id : '' %>">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="uri" class="col-sm-3 control-label">Lien</label>
                                <div class="col-sm-6">
                                    <% if (zone) { %>
                                    <select name="uri" class="form-control">
                                        <% _.each(uris, function(uri) { %>
                                        <% s =  (zone.uri == uri.id) ? 'selected="selected"' : '' %>
                                        <option value="<%=uri.id%>" <% print (s) %> ><%=uri.uri %></option>
                                        <% }); %>
                                    </select>
                                    <% } else { %>
                                    <select name="uri" class="form-control">
                                        <% _.each(uris, function(uri) { %>
                                        <option value="<%=uri.id%>" ><%=uri.uri %></option>
                                        <% }); %>
                                    </select>
                                    <% }; %>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="type" class="col-sm-3 control-label">Type</label>
                                <div class="col-sm-6">
                                    <% if (zone) { %>
                                    <select name="type" class="form-control">
                                        <% _.each(types, function(type) { %>
                                        <% s =  (zone.type == type.id) ? 'selected="selected"' : '' %>
                                        <option value="<%=type.id%>" <% print (s) %> ><%=type.label %></option>
                                        <% }); %>
                                    </select>
                                    <% } else { %>
                                    <select name="type" class="form-control">
                                        <% _.each(types, function(type) { %>
                                        <option value="<%=type.id%>" ><%=type.label %></option>
                                        <% }); %>
                                    </select>
                                    <% }; %>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="dimensions" class="col-sm-3 control-label">Dimension</label>
                                <div class="col-sm-6">
                                    <% if (zone) { %>
                                    <select name="dimensions" class="form-control">
                                        <% _.each(dimensions, function(dimension) { %>
                                        <% s =  (zone.dimensions == dimension.id) ? 'selected="selected"' : '' %>
                                        <option value="<%=dimension.id%>" <% print (s) %> ><%=dimension.label %></option>
                                        <% }); %>
                                    </select>
                                    <% } else { %>
                                    <select name="dimensions" class="form-control">
                                        <% _.each(dimensions, function(dimension) { %>
                                        <option value="<%=dimension.id%>" ><%=dimension.label %></option>
                                        <% }); %>
                                    </select>
                                    <% }; %>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-sm-3 control-label">CPC</label>
                                    <div class="col-sm-6">
                                        <% if (zone && zone.cpc) {                   %>
                                        <%    var cpcActif  = 'checked="checked"';   %>
                                        <%    var cpcInactif = '';                   %>
                                        <% } else if(zone && !zone.cpc) {            %>
                                        <%    var cpcActif  = '';                    %>
                                        <%    var cpcInactif = 'checked="checked"';  %>
                                        <% };                                        %>
                                        <label class="radio-inline">
                                            <input name="cpc" type="radio" value="true" <%=cpcActif%> > Activé
                                        </label>
                                        <label class="radio-inline">
                                            <input name="cpc" type="radio" value="false" <%=cpcInactif%>> Désactivé
                                        </label>
                                    </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">CPM</label>
                                    <div class="col-sm-6">
                                        <% if (zone && zone.cpm) {                   %>
                                        <%    var cpmActif  = 'checked="checked"';   %>
                                        <%    var cpmInactif = '';                   %>
                                        <% } else if(zone && !zone.cpm) {            %>
                                        <%    var cpmActif  = '';                    %>
                                        <%    var cpmInactif = 'checked="checked"';  %>
                                        <% };                                        %>
                                        <label class="radio-inline">
                                            <input name="cpm" type="radio" value="true" <%=cpmActif%> > Activé
                                        </label>
                                        <label class="radio-inline">
                                            <input name="cpm" type="radio" value="false" <%=cpmInactif%>> Désactivé
                                        </label>
                                    </div>
                            </div>

                            <% if(zone) { %>
                            <input type="hidden" name="id" value="<%= zone.id %>" />
                            <% }; %>
                        </form>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                <div class="btn-toolbar">
                                    <!--<button class="btn-primary btn" id="save">Enregistrer</button>-->
                                    <button class="btn-primary btn" onclick="$('#zoneEditForm').submit();">Enregistrer
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>