<div id="wrap">

    <div id="page-heading">
        <ol class="breadcrumb">
            <li class="active"><a href="#home">Tableau de bord</a></li>
            <li>Gestion Zones</li>
        </ol>
        <h1>Gestion Zones</h1>

        <div class="options">
        </div>
    </div>

    <div class="container">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Liste Zones</h4>

            </div>
            <div class="panel-body collapse in">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr role="row">
                        <th>Zone</th>
                        <th>Lien</th>
                        <th>Dom ID</th>
                        <th>Type</th>
                        <th>Paiement</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody role="alert" aria-live="polite" aria-relevant="all">
                    <% _.each(zones, function(zone) { %>
                    <tr>
                        <td>
                            <%= zone.label %>
                        </td>
                        <td>
                            <%= _.where(uris, {id: zone.uri})[0].uri %>
                        </td>
                        <td>
                            <%= zone.dom_id %>
                        </td>
                        <td>
                            <%= _.where(types, {id: zone.type})[0].label %>
                        </td>
                        <td>
                            <%= zone.cpc ? "CPC <br/>" : ""%>
                            <%= zone.cpm ? "CPM" : ""%>
                        </td>
                        <td class="center ">
                            <a href="#zones/edit/<%= zone.id %>" class="fa fa-pencil"></a>
                            <a style="cursor: pointer" data-id="<%=zone.id%>" class="fa fa-times delete"></a>
                        </td>
                    </tr>
                    <% }); %>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>